<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.eyesless.needmypuppy">

    <application
        android:name=".InitiationActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Найди своего щенка"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PuppysMainTheme">
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Рады Вас видеть!" />
        <activity
            android:name=".About_owner"
            android:label="@string/btn_block1" />
        <activity
            android:name=".For_what"
            android:label="@string/btn_block3" />
        <activity
            android:name=".Infrastructure"
            android:label="@string/btn_block2" />
        <activity
            android:name=".BreedDescriptionActivity_frag"
            android:label="теперь выбираем породу" />
        <activity
            android:name=".DescriptionActivity"
            android:label="теперь выбираем породу" />
    </application>

</manifest>