<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.eyesless.needmypuppy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/opt_name" />
        <activity android:name=".BreedListActivity" />
        <activity android:name=".BreedDescriptionActivity" />
        <activity android:name=".About_owner" />
        <activity android:name=".For_what" />
        <activity android:name=".Infrastructure" />
        <activity android:name=".BreedDescriptionActivity_frag"></activity>
    </application>

</manifest>